<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .active {font-style:italic;}
        .error {color:red;}
    </style>
</head>
<body>
<div id="app">
    <div>基础信息：{{ message }}</div>
    <div>计算属性：{{ computedMessage }}，将会被缓存</div>
    <div v-if="seen">v-if</div>
    <div>调用方法：{{ showTime() }}</div>
    <div :class="classObj">利用计算属性动态设置class</div>
    <ol>
        <li v-for="(item, i) in items">{{ i }} - {{ item.name }}</li>
    </ol>
    <ul>
        <li v-for="(value, key, i) in list">{{ i }} - {{ key }} : {{ value }}</li>
    </ul>
    <input v-on:keyup.enter="enter()" v-model="message">
</div>
<div id="app2">
    {{ message }}
    <a v-bind:href="url">v-bind</a>
    <a :href="url">简写v-bind</a>
    <input v-model="message">
    <input v-model="url">
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
       el: '#app',
        data: {
           message: 'nihao',
            seen: false,
            isActive: true,
            error: true,
            items: [
                {
                    name: 'Li lei'
                },
                {
                    name: 'Han meimei'
                },
                {
                    name: 'Lily'
                },
                {
                    name: 'lucy'
                }
            ],
            list: {
               name: 'Li lei',
                age: '17',
                Gender: 'Male'
            }
        },
        computed: {
           computedMessage: function() {
               return this.message + '计算属性'
           },
            classObj: function() {
               return {
                   'active': this.isActive,
                   'error': this.error
               }
            }
        },
        methods: {
           showTime: function() {
               var time = new Date();
               return time
           },
            enter: function() {
               alert(this.message)
            }
        }
    });
    var app2 = new Vue({
       el: '#app2',
        data: {
           message: 'hello',
            url: 'http://www.baidu.com'
        }
    });
</script>
</body>
</html>